
{% trans_default_domain 'FOSUserBundle' %}


<div class="wrapper ">
    <div class="content">
        <div class="section section-features">
            <div class="">
                <div class="col-md-4 col-sm-offset-4">
                    <h3 class="title text-center">Login</h3>

                    <div class="card card-green" >
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" width="80px" height="80px" src="{{ asset('assets/img/logos/Atletismo.png') }}" />
                            </a>
                        </div>
                        <div class="card-header" data-background-color="purple">
                            <h6 class="category text-center"></h6>
                        </div>


                        <div class="card-content">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.second) }}

                            <div class="row">
                                <div class="col-md-6 col-sm-offset-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Contraseña actual</label>
                                        {{ form_widget(form.current_password,{'attr':{'class':'form-control','placeholder':'Contraseña actual ','required':'required'}}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-offset-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nueva contraseña</label>
                                        {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control','placeholder':'Contraseña','required':'required'}}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-offset-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Repita contraseña</label>
                                        {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control','placeholder':'Repita contraseña','required':'required'}}) }}
                                    </div>
                                </div>
                            </div>
                            <br>

                    <input class="btn btn-primary col-md-6 col-sm-offset-3" type="submit" value="{{ 'change_password.submit'|trans }}" />

                {{ form_end(form) }}
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>